* {
    margin: auto;
    padding: 0;
}

.body {
    background: rgb(255,255,255);
    background: linear-gradient(167deg, rgba(255,255,255,0.6337885495995272) 37%, rgba(205,205,205,0.8130602582830007) 100%);
}

.container {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

.card {
    margin-top: 2rem;
    padding: 1rem;
    width: 20rem;
    box-shadow: 10px 10px 34px 0px rgba(199, 199, 199, 0.75);
    -webkit-box-shadow: 10px 10px 34px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 10px 10px 34px 0px rgba(199, 199, 199, 0.75);
    border: none !important;
}